* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

header {
  display: block;
  width: 100%;
  padding: 0 30px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1160px;
  height: 60px;
  padding: 0 20px;
  background-color: white;
  margin: 0 auto;
}

.mobile-logo {
  display: none;
}

.pc-logo {
  width: 6.1rem;
  margin-top: 15px;
}

.middle-para {
  font-size: 25px;
  text-align: center;
  width: 230px;
}

.middle-para > a {
  text-decoration: none;
}

.right-side > img {
  margin-top: 8px;
}



main {
  max-width: 1160px;
  padding: 130px 30px 0 30px;
  margin: 0 auto; 
}

.rate-review-para {
  font-size: 23px;
  font-weight: bold;
  margin: 20px 0;
}

.rate-review-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

.rate-review-section div:first-child {
  display: grid;
  grid-template-columns: 1fr;
  gap: 7px;
}

.payment-summary, .review-section {
  border: solid 0.5px rgba(200, 200, 200, 0.7);
  padding: 20px;
  border-radius: 8px;
}

.delivery-date-para {
  color: rgb(0, 118, 0);
  font-size: 21px;
  font-weight: bold;
  padding: 15px 0;
}

.product-info {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  column-gap: 25px;
}

.product-info img {
  width: 100%;
}

.product-text-info p:first-child {
  font-weight: 600;
  font-size: 16px;
  margin: 8px 0;
  line-height: 20px;
}

.product-text-info p:nth-child(2) {
  color: rgb(177, 39, 4);
  font-weight: 600;
  font-size: 16px;
  margin: 8px 0;
  line-height: 20px;
}

.product-text-info p:nth-child(3) {
  margin: 8px 0px;
  line-height: 20px;
  font-weight: 400;
}

.product-text-info p:nth-child(3) > span {
  color: rgb(1, 124, 182);
}

form > p {
  font-weight: bold;
  margin: 8px 0;
}

label {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin: 0 0 20px 0;
}

label > p {
  font-weight: 600;
  color: rgb(0, 150, 0);
  line-height: 24px;

}

label > p > span {
  font-weight: 500;
  color: rgb(120, 120, 120);
}





.payment-summary-row {
  display: grid;
  grid-template-columns: 1fr auto;

  font-size: 15px;
  margin-bottom: 9px;
}

.payment-summary-money {
  text-align: right;
}

.subtotal-row .payment-summary-money {
  border-top: 1px solid rgb(222, 222, 222);
}

.subtotal-row div {
  padding-top: 9px;
}

.total-row {
  color: rgb(177, 39, 4);
  font-weight: 700;
  font-size: 18px;

  border-top: 1px solid rgb(222, 222, 222);
  padding-top: 18px;
}

.place-order-button {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  background-color: rgb(255, 216, 20);
  border: solid 1px rgb(255, 216, 0);
  margin-top: 11px;
  margin-bottom: 15px;
}

.place-order-button:hover {
  background-color: rgb(247, 202, 0);
  border: 1px solid rgb(242, 194, 0);
}

.place-order-button:active {
  background: rgb(255, 216, 20);
  border-color: rgb(252, 210, 0);
  box-shadow: none;
}